<!-- Our dynamic Jinga2 AboutMe.html -->
{% extends "base.html" %}


{% block content %}
<div class="container">
    <div class="page-header">
            <h1>About Inventory Catalog</h1>
            <hr>
        
            <h2>By: Fabiola Barrientos</h2>
        
      
        
            <h3>lorem </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        
           
        
    </div>
</div>
{% endblock %}